.imgep {
    width: 35px;
    height: 35px;
}

.body1 {
    background-color: #F6F6F6;
}

.text-short {
    display: -webkit-box;

    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}